@tile-width: 150px;
@tile-height: 150px;
@tile-margin: 20px;
@min-columns: 3;
@max-columns: 5;

body {
	background-color: #fff;
}
#projects {
	min-width: @tile-width * @min-columns + @tile-margin * (@min-columns + 1);
	max-width: @tile-width * @max-columns + @tile-margin * (@max-columns + 1);
	margin: 0 auto;
	padding: @tile-margin / 2;
	background-color: #f0f0f0;
	position: relative;
}
.project {
	width: @tile-width;
	height: @tile-height;
	margin: @tile-margin / 2;
	background-size: cover;
}