@tile-width: 60px;
@tile-height: 60px;
@tile-margin: 12px;

html, body, #shapes {
	height: 100%;
}
body {
	padding: 20px 10px;
	background-color: #ed309b;
	// background-image: url('/img/pink-swirl.png');
	// background-repeat: repeat;
	&.no-scroll {
		overflow: hidden
	}
}
#shapes {
	margin: 0 auto;
	padding: 0;
	position: relative;
}
#shapes {
	.shape {
		position: relative;
	    background-repeat: no-repeat;
	    background-position: @tile-margin / 2 @tile-margin / 2;
		.tiles {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			.tile {
				z-index: 2;
				position: absolute;
				cursor: pointer;
			}
		}
		img {
			position: absolute;
			top: @tile-margin / 2;
			left: @tile-margin / 2;
			opacity: 0.0;
		}
	}
}
#dialog-stuff {
	.screen {
		z-index: 3;
		position: fixed;
		background-color: #000;
		opacity: 0.7;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.left-arrow, .right-arrow {
		z-index: 5;
		position: fixed;
		top: 50%;
		margin-top: -70px;
		width: 12px;
		height: 80px;
		padding: 30px 30px;
		cursor: pointer;
		.parallelogram-1, .parallelogram-2 {
			width: 12px;
			height: 40px;
			background-color: #ccc;
			opacity: 0.5;
			position: relative;
			right: 0;
		}
		.parallelogram-1 {
			transform: skew(-20deg);
			-webkit-transform: skew(-20deg);
		}
		.parallelogram-2 {
			transform: skew(20deg);
			-webkit-transform: skew(20deg);
		}
		&:hover {
			.parallelogram-1, .parallelogram-2 {
				opacity: 1.0;
			}
		}
	}
	.left-arrow {
		left: 0;
	}
	.right-arrow {
		right: 0;
	}
	.dialog {
		z-index: 4;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		.body {
			position: relative;
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;
			flex-flow: column wrap;
			width: 100%;
			height: 90%;
			.content {
				background-color: #292929;
				background-image: url('/img/dialog-content-bg.jpg');
				background-repeat: no-repeat;
				background-position: center;
				border: 3px solid #454545;
				box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
			}
			.details {
				background-color: #fcfbfa;
				width: 300px;
				min-height: 110px;
				margin: 12px 17px 0 17px;
				padding: 12px 12px 7px 12px;
				font-family: 'Roboto', sans-serif;
				box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
				h2 {
					margin: 0 0 4px 0;
					font-size: 14pt;
					font-weight: 400;
					.time-period {
						font-size: 12pt;
						font-weight: 300;
						white-space: nowrap;
					}
				}
				h3 {
					margin: 0 0 7px 0;
					font-size: 12pt;
					font-weight: 300;
				}
				.description {
					margin: 0 0 5px 0;
					font-size: 10pt;
					font-weight: 100;
				}
				.instructions {
					margin: 0 0 5px 0;
					font-size: 10pt;
					font-weight: 100;
					font-style: italic;
				}
			}
		}
	}
}