<html>
	<head>
		<title>bridgs' portfolio</title>
		<script type="text/javascript" src="/jquery.min.js"></script>
		<script type="text/javascript" src="/script.js"></script>
		<link rel="stylesheet" href="/css/styles.css"></link>
	</head>
	<body>

		<section id="shapes">
			<% projects.forEach(function(project) { %>
				<article id="shape-<%- project.id %>" class="shape" style="width:<%- project.width %>px;height:<%- project.height %>px;background-image:url('<%- project.grid.previewImageUrl %>');background-size: <%- project.width - tileSize.margin %>px <%- project.height - tileSize.margin %>px;">
					<img src="<%= project.grid.imageUrl %>" width="<%- project.width - tileSize.margin %>px" height="<%- project.height - tileSize.margin %>px"></img>
					<div class="tiles">
						<% project.grid.tiles.forEach(function(tile) { %>
							<div class="tile" style="top:<%- tile.y %>px;left:<%- tile.x %>px;width:<%- tile.width %>px;height:<%- tile.height %>px;"></div>
						<% }); %>
					</map>
				</article>
			<% }); %>
		</section>

		<aside id="dialog">
			<div class="screen"></div>
			<div class="left-arrow"></div>
			<div class="content">
				<div class="content-area"></div>
				<div class="details">
					<h2></h2>
					<span class="time-period"></span>
					<span class="medium"></span>
					<a class="repo-link" href="#"></a>
					<div class="description"></div>
				</div>
			</div>
			<div class="right-arrow"></div>
		</aside>

	</body>
</html>