<!DOCTYPE html>
<html>
	<head>
		<title>bridgs</title>
		<script type="text/javascript" src="/script.js"></script>
		<link href="http://fonts.googleapis.com/css?family=Roboto:100,300,100italic,400,700|Raleway:800,400" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/css/styles.css"></link>
	</head>
	<body>
		<header id="main-header">
			<div class="side-content"></div>
			<h1>
				<span class="pre-heading">the virtual scrapbook of</span>
				<span class="heading">bridgs</span>
			</h1>
			<div class="side-content">
				<div id="disclaimer">
					<h2>Disclaimer</h2>
					<p>Very little of what you see here is polished or even complete. I'm okay with that. I hope you are too.</p>
				</div>
			</div>
		</header>

		<section id="shapes">
			<% projects.forEach(function(project) { %>
				<article id="shape-<%- project.id %>" class="shape" style="width:<%- project.grid.width %>px;height:<%- project.grid.height %>px;">
					<div class="still-image" style="width:<%- project.grid.width - tileSize.margin %>px;height:<%- project.grid.height - tileSize.margin %>px;background-size: <%- project.grid.width - tileSize.margin %>px <%- project.grid.height - tileSize.margin %>px;"></div>
					<div class="tiles">
						<% project.grid.tiles.forEach(function(tile) { %>
							<div class="tile" style="top:<%- tile.y %>px;left:<%- tile.x %>px;width:<%- tile.width %>px;height:<%- tile.height %>px;"></div>
						<% }); %>
					</map>
				</article>
			<% }); %>
		</section>

		<footer id="main-footer">
			<div class="references">
				<a class="contact-link" href="javascript:;">Contact me</a>
			</div>
			<div class="social-media">
				<a class="icon-link github" href="https://github.com/bridgs" target="_blank"></a>
				<a class="icon-link twitter" href="https://twitter.com/bridgs_dev" target="_blank"></a>
			</div>
		</footer>

		<div id="dialog-stuff">
			<div class="screen"></div>
			<div class="left-arrow">
				<div class="parallelogram-1"></div>
				<div class="parallelogram-2"></div>
			</div>
			<div class="right-arrow">
				<div class="parallelogram-2"></div>
				<div class="parallelogram-1"></div>
			</div>
			<div id="dialog-0" class="dialog">
				<div class="body">
					<div class="content">
						<div class="full-screen-icon"></div>
						<div class="actual-content"></div>
						<p class="show-details"><a href="javascript:;">+ Show details</a></p>
					</div>
					<div class="details">
						<h2><span class="title"></span> <span class="time-period"></span></h2>
						<h3><span class="medium"></span> <a class="repo-link" title="view on GitHub" href="#" target="_blank"></a></h3>
						<p class="description"></p>
						<p class="instructions"></p>
						<p class="hide-details"><a href="javascript:;">hide</a></p>
					</div>
				</div>
			</div>
			<div id="dialog-1" class="dialog">
				<div class="body">
					<div class="content">
						<div class="full-screen-icon"></div>
						<div class="actual-content"></div>
						<p class="show-details"><a href="javascript:;">+ Show details</a></p>
					</div>
					<div class="details">
						<h2><span class="title"></span> <span class="time-period"></span></h2>
						<h3><span class="medium"></span> <a class="repo-link" title="view on GitHub" href="#" target="_blank"></a></h3>
						<p class="description"></p>
						<p class="instructions"></p>
						<p class="hide-details"><a href="javascript:;">hide</a></p>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>